body {
  background-color: #000034;
  color: whitesmoke;
  font-family: 'Rajdhani';
}

.parent {
  display: flex;
  justify-content: center;
  width: 100%;
}
.button-info {
  display: flex;
  justify-content: left;
  width: 600px;
}

.zodiac-order {
  margin-right: 10%;
  font-weight: bold;
}

.zodiac-content {
  margin-right: 10%;
  text-align: center;
}

.zodiac-element {
  margin-right: 10%;
}

.planet {
  margin-right: 10%;
}
